.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 225px;
    border-right: 1px solid var(--color-grey);
    display: flex;
    flex-direction: column;
}

.sidebar + * {
    margin-left: 225px;
}

.sidebar .sidebar-header {
    display: flex;
    position: relative;
    border-bottom: 1px solid var(--color-grey);
    padding: 15px 20px;
    gap: 10px;
    align-items: center;
}

.sidebar-header .logo {
    display: flex;
    align-items: center;
}

.sidebar-header .logo svg {
    width: 30px;
    flex-shrink: 0;
    fill: var(--color-primary);
}

.sidebar-header .project-switcher {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-switcher .switcher-button {
    border: 0px;
    background: var(--color-background);
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.project-switcher .switcher-button .switcher-text {
    flex-grow: 1;
}

.project-switcher .switcher-button span {
    display: block;
}

.project-switcher .switcher-label {
    color: var(--color-primary-soft);
    font-size: 12px;
}

.project-switcher .switcher-value {
    font-size: 14px;
    font-weight: 500;
}

.project-switcher .project-switcher-icon {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.project-switcher .switcher-options {
    position: absolute;
    background: var(--color-background);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    padding: 0;
    width: 100%;
    left: 0px;
    margin: 0;
    top: 100%;
    outline: none;
    border: 1px solid var(--color-grey);
}

.project-switcher .switcher-options .switcher-option {
    display: flex;
    border-bottom: 1px solid var(--color-grey);
    padding: 15px 20px;
    justify-content: space-between;
    cursor: pointer;
}

.project-switcher .switcher-options .switcher-option:hover:not(.disabled) {
    background: var(--color-background-soft);
}

.project-switcher .switcher-options .switcher-option:last-child {
    border-bottom: 0px;
}

.project-switcher .switcher-options .switcher-option svg {  
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    display: none;
}

.project-switcher .switcher-options .switcher-option.selected svg {
    display: inline-block;
}

nav {
    padding: 20px;
    flex-grow: 1;
    overflow-y: scroll;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--color-primary);
    border-radius: var(--border-radius);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

nav a:hover {
    color: var(--color-primary);
    background: var(--color-grey);
}

nav a.selected {
    color: var(--color-on-primary);
    background: var(--color-primary);
}

nav a i {
    margin-right: 5px;
}

.sidebar-profile {
    border-top: 1px solid var(--color-grey);
    width: 100%;
    display: grid;
    grid-template-areas: "image name" "image role";
    grid-template-columns: 40px 1fr;
    grid-column-gap: 15px;
    align-items: center;
    padding: 20px;
}

.sidebar-profile .profile-image {
    width: 40px;
    height: 40px;
    background: var(--color-grey);
    border-radius: 20px;
    grid-area: image;
}

.sidebar-profile .profile-name {
    grid-area: name;
    font-size: 14px;
}

.profile .profile-role {
    grid-area: role;
    font-size: 12px;
}
