.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 225px;
    border-right: 1px solid var(--color-grey);
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.sidebar + * {
    margin-left: 225px;
}

.sidebar .sidebar-header {
    display: flex;
    position: relative;
    border-bottom: 1px solid var(--color-grey);
    padding: 15px 20px;
    gap: 10px;
    align-items: center;
}

.sidebar-header .logo {
    display: flex;
    align-items: center;
}

.sidebar-header .logo svg {
    height: 30px;
    flex-shrink: 0;
    fill: var(--color-primary);
}

.sidebar .project-switcher.select-button {
    padding: 15px 20px;
    border-radius: 0;
    border-width: 0 0 1px;
    border-color: var(--color-grey);
}

.project-switcher-label {
    color: var(--color-primary-soft);
    font-size: 12px;
}

.project-switcher-value {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
}

nav {
    padding: 20px;
    flex-grow: 1;
    overflow-y: scroll;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--color-primary);
    border-radius: var(--border-radius);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

nav a:hover {
    color: var(--color-primary);
    background: var(--color-grey);
}

nav a.selected {
    color: var(--color-on-primary);
    background: var(--color-primary);
}

nav a i {
    margin-right: 5px;
}

.sidebar-profile {
    border-top: 1px solid var(--color-grey);
    width: 100%;
    display: grid;
    grid-template-areas: "image name" "image role";
    grid-template-columns: 40px 1fr;
    grid-column-gap: 15px;
    align-items: center;
    padding: 20px;
}

.sidebar-profile .profile-image {
    width: 40px;
    height: 40px;
    background: var(--color-grey);
    border-radius: 20px;
    grid-area: image;
}

.sidebar-profile .profile-name {
    grid-area: name;
    font-size: 14px;
}

.profile .profile-role {
    grid-area: role;
    font-size: 12px;
}
