.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cards a.card {
    background: var(--color-background);
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--color-grey);
    padding: 20px;
    line-height: 1.2;
    box-shadow: none;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

a.card {
    text-decoration: none !important;
}

a.card:hover {
    cursor: pointer;
    border-color: var(--color-primary);
    text-decoration: none;
}

.card img {
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr !important;
    }
}